---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---

{% include base_path %}

{% if site.author.googlescholar %}
  <p class="pub-scholar-note">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</p>
{% endif %}

{% include selected-publications.html hide_more=true %}

<section class="all-publications">
  <h2 class="all-publications__title">All Publications</h2>

  {% assign sorted_pubs = site.publications | sort: 'date' | reverse %}
  {% assign prev_year = "" %}
  {% for post in sorted_pubs %}
    {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if year != prev_year %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 class="pub-year">{{ year }}</h3>
      <ul class="pub-list">
      {% assign prev_year = year %}
    {% endif %}
    {% include publication-row.html %}
  {% endfor %}
  </ul>
</section>
